@import "../fonts/index.css";
@import "colors.css";
@import "typograpghy.css";

body {
    background-color: #FAFAFA;
}

input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.hidden {
    display: none !important;
}

.Blog__container {
    display: flex;
    gap: 24px;
    width: fit-content;
    z-index: 10;
    min-height: 100vh;
    margin: auto auto;
    box-sizing: content-box;
    max-width: 1600px;
    padding: 72px 20px;
}

.Blog__content {
    padding: 40px 168px;
    max-width: 1096px;
    background-color: #FFFFFF;
}

.Blog__content img {
    width: 100%;
}

.Blog__content-header-navButton {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
    cursor: pointer;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-black);
}

.Blog__content-header-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    width: fit-content;
    cursor: pointer;
    color: var(--color-black);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-extra-light-gray);
}

.Blog__side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    top: 20px;
}

.Blog__date {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: var(--color-gray);
    margin-top: 15px;
}

.Blog__actions {
    display: flex;
    gap: 26px;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--color-border);
}

.Blog__actions__field {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: right;
    color: var(--color-light-gray);
}

.Blog__actions__field img {
    color: var(--color-gray);
}

.Blog__actions__field p {
    color: var(--color-gray);
    margin: 0;
}

.Blog__comments {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Blog__comments-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 702px;
    overflow: auto;
}

.Blog__comments-new {
    display: flex;
    gap: 16px;
    padding-top: 8px;
}

.Blog__comments-new img {
    width: 48px;
    height: 48px;
}

@media (max-width: 1700px) {
    .Blog__content {
        padding: 24px 80px;
    }
}

@media (max-width: 1498px) {
    .Blog__content {
        padding: 24px 40px;
    }
}

@media (max-width: 968px) {
    .Blog__container {
        flex-direction: column;
    }

    .Blog__date {
        font-size: 14px;
    }

    .Blog__side {
        flex-direction: row;
    }
}

@media (max-width: 700px) {
    .Blog__content {
        padding: 24px;
    }

    .Blog__side {
        flex-direction: column;
    }

    .Blog__content-header-navButton {
        margin-bottom: 32px;
    }
}
