h1 {
    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
}

p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    margin: 40px 0;
}

@media (max-width: 700px) {
    h1 {
        font-size: 24px;
        line-height: 24.44px;
    }

    p {
        margin: 20px 0;
    }
}
